@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(173, 216, 230);
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container
{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

.input-container input
{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 5px;
    font-size: 16px;
}

.input-container input[type="text"]
{
  width: 70%;
  margin-left: 40px;
}

.input-container input[type="button"]
{
  background-color: #7d3014;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin-left: 8px;
  padding: 12px 20px;
}

.input-container input[type="button"]:hover
{
    background-color: #954527;
}

ul{
    width: 100%;
    max-width: 450px;
    /* align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; */
}

ul li{
    border: 0.125px solid rgb(160, 81, 81);
    border-radius: 5px;
    list-style-type: none;
    margin-block-end: 12px;
    margin-left:40px;
    padding: 6px 12px;
    cursor: pointer;
    background-color:#ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
ul li:hover
{
    background-color: darksalmon;
    transition: background-color 0.5s;
}

ul li p{
    flex-grow: 1;
    font-size: 18px;
}

.btn
{
    border: none;
    outline:none;
    padding: 3px 6px;
    margin-left: 5px;
    font-size: 15px;
    background-color: none;
    cursor: pointer;
}

.deletebtn
{
    color: #de4646;
    border-radius: 2px;
}

.deletebtn:hover
{
    background-color: #d41818;
    color: white;
}
.editbtn
{
    color:#408a40;
    border-radius: 2px;
    
}

.editbtn:hover
{
    background-color: #1a6c1a;
    color: white;
}